<div class="page">
  <div class="header">
    <div class="card">
      <div class="logo">
        <img src="../../../assets/imgs/starup-horizontal2@2x.png" alt="">
      </div>

      <p-menubar [model]="items">
      </p-menubar>
    </div>
  </div>
  <div class="slice-1">
    <div>
      <div class="div-content-text">
        <h2> O MAIOR HUB DO MATO GROSSO DO SUL </h2>
        <label>HUB - STARTUP FIEMS</label>
      </div>

      <div class="card card1">
        <div class="flex card-container indigo-container">
          <div class="flex-1 font-bold text-center">
            <div class="div-text-card1">
              <h3> Traga seu negócio para o nosso ecossistema!</h3>
            </div>
          </div>
          <div class="flex-1 text-left">
            <div class="div-text-card2">
              <label class="text-base">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis id feugiat id tincidunt gravida non dui.
                In
                rhoncus eu, vitae amet sed. Ridiculus aliquam sed blandit tortor, dolor congue. Morbi ante ac habitasse
                vitae
                a eu vulputate sit.
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slice-2">
    <div>
      <div class="div-content-text">
        <h2> STARTUPS </h2>
      </div>

      <div class="card card1">
        <div class="flex card-container indigo-container">
          <div class="flex-1 text-left">
            <div class="div-text-card1">
              <label>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis id feugiat id tincidunt gravida non dui.
                In
                rhoncus eu, vitae amet sed. Ridiculus aliquam sed blandit tortor, dolor congue. Morbi ante ac habitasse
                vitae
                a eu vulputate sit.
              </label>
            </div>
          </div>
          <div class="flex-1 text-left">
            <div class="div-text-card2">
              <p-button label="FAÇA PARTE!" styleClass="p-button-rounded"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slice-3">
    <div>
      <div class="div-content-text">
        <h2> MANTENEDORES </h2>
      </div>

      <div class="card card1">
        <div class="flex card-container indigo-container">
          <div class="flex-1 text-left">
            <div class="div-text-card1">
              <label>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas in ut dui nulla non ut nam at. Quis
                mauris quam at nisl massa euismod. Libero proin urna diam ut cras. Congue hac massa facilisis faucibus
                tempus.
              </label>
            </div>
          </div>
          <div class="flex-1 text-left">
            <div class="div-text-card2">
              <p-button label="CONSULTE-NOS!" styleClass="p-button-rounded"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slice-4">
    <div class="cards">
      <div class="card">
        <div class="flex card-container">
          <div class="flex-1 text-center divisor-1">
            <div class="div-content-text">
              <div class="img-slice4-card1"></div>
              <div>
                <div class="junte-se">
                  <img src="../../../assets/icons/handshake.png" alt="teste">
                  <h3> Junte-se ao nosso time!</h3>
                </div>
                <div class="button-candidatar">
                  <p-button label="CANDIDATE-SE!" styleClass="p-button-rounded"></p-button>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-1 text-left">
            <div class="divisor-2">
              <div class="div-content-text">
                <h2> Startup na mídia</h2>

                <div class="cards-media">
                  <div class="card-media" *ngFor="let media of listMedias">
                    <div class="card-image">
                      <img src="../../../assets/icons/image-gallery.png" alt="teste">
                    </div>
                    <div class="separator"></div>
                    <div class="card-text">
                      <h4><b>Título de chamada da matéria</b></h4>
                      <label>Resumo sobre o que se trata matéria para captar o leitor.</label>
                    </div>
                  </div>
                </div>
                <div class="see-more">
                  <label>Ver mais... </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slice-5">

    <div class="grid">
      <div class="col-4 col-img-sesi">
        <img src="../../../assets/imgs/starup-horizontal2@2x.png" alt="">
      </div>

      <div class="col-5 col-links">
        <ul>
          <li><a href=""> Missão</a></li>
          <li><a href=""> Quem somos</a></li>
          <li><a href=""> A indústria</a></li>
        </ul>

        <ul>
          <li><a href=""> Eventos</a></li>
          <li><a href=""> Newsletter</a></li>
          <li><a href=""> Blog</a></li>
        </ul>

        <ul>
          <li><a href=""> Termos da LGPD</a></li>
          <li><a href=""> Trabalhe conosco</a></li>
        </ul>
      </div>

      <div class="col-3 col-social-media">
        <label><a href=""> Contato</a> </label>
        <img src="../../../assets/icons/linkedin.png" alt="linkedin">
        <img src="../../../assets/icons/instagram.png" alt="instagram">
        <img src="../../../assets/icons/whatsapp.png" alt="whatsapp">
      </div>
    </div>
  </div>
</div>
