::ng-deep * {
  font-family: "Gotham", sans-serif;
}

::ng-deep body {
  margin: 0;
}

::ng-deep .p-scrollpanel .p-scrollpanel-bar {
  background: #989898;
}

::ng-deep button {
  background-color: #34c1e2;
  border-radius: 8px !important;
  border-style: none;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  width: 15vw !important;
  height: 50px;
}

*:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: center;

  .div-logo-header {
    img {
      width: 130px;
    }

    padding: 20px 0 20px;
  }

  .div-links-header ul {
    text-align: center;

    li {
      text-decoration: none;
      display: inline-block;
    }

    a {
      color: #fff !important;
      text-decoration: none;
      display: block;
      padding: 8px;
      margin: 0 20px;
    }
  }

  .div-btn-login {
    padding: 10px 20px 0 50px;

    button {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 15vw !important;
      height: 50px;

      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }
}

.slice-2 .div-text-card2,
.slice-3 .div-text-card2 {
  margin-left: 100px;
}

.img-1 {
  background-color: #253b49;
}

.slice-1 {
  color: #fff;
  padding: 20vh 5vw 15vh 10vw;

  .titulo {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .btn {
    margin-top: 50px;
  }
}

.slice-2 {
  background: #faf9f9;
  color: #000;
  padding: 20vh 5vw 15vh 10vw;

  .titulo {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .btn {
    margin-top: 50px;
  }
}

.slice-3 {
  background: #133a55;
  color: #fff;
  padding: 20vh 5vw 15vh 10vw;

  .titulo {
    font-size: 48px;
    margin-bottom: 40px;
  }

  .btn {
    margin-top: 50px;
  }
}

.slice-4 {
  background: #faf9f9;
  color: #000;

  .grid {
    margin: 0 !important;
  }

  .slice-4-col-1 {
    padding: 5vh 5vw 5vh 5vw;
    background: #f4f7fb;

    .titulo {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .div-join {
      display: flex;
      padding: 20px;

      img {
        width: 300px;
        margin-right: 50px;
      }

      .titulo {
        font-size: 28px !important;
      }

      .subtitulo {
        font-size: 14px !important;
        margin-top: 20px;
      }

      .btn {
        margin-top: 50px;
      }
    }
  }

  .slice-4-col-2 {
    background: #fff;
    padding: 5vh 0vw 5vh 5vw;

    .titulo {
      display: flex;

      .see-more {
        display: flex;
        justify-content: center;
        align-items: center;

        label a {
          margin-left: 120px;
          text-decoration: none;
          color: #34c1e2;
        }
      }
    }

    .cards-media {
      background: #fff;

      .card-item {
        display: block;
        max-width: 500px;
        color: #000;

        .card-image {
          margin: 30px;

          img {
            width: 75px;
            height: 75px;
          }
        }

        .divisor {
          border: 1px solid #989898;
        }
      }
    }
  }
}

.footer {
  padding: 4vh 0;
  background: linear-gradient(90deg, #011a2b 0%, #0a2d51 100%);
  color: #fff;

  .grid {
    margin: 0 !important;

    .col-img-sesi {
      text-align: center;
      padding: 50px 0;

      img {
        width: 150px;
      }

      .social-media {
        margin-top: 20px;
        align-items: center;

        label {
          font-size: 1.3rem;
          margin-right: 20px;

          a {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        img {
          background: white;

          margin: 0 5px;
          max-width: 35px;
          padding: 5px;
          border: 1px solid #5dcde8;
          border-radius: 8px;
        }
      }
    }

    .col-links {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        li {
          list-style: none;
          margin: 35px 0;

          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }

    .col-subscribe {
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        font-size: 36px;
      }

      .div-input {
        .input-container {
          display: flex;
          width: 100%;
          margin-top: 25px;
          border-radius: 8px;
        }

        input {
          border: 0;
          padding: 10px;
          border-left: 1px solid #000 !important;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }

        i {
          padding: 10px;
          background: #fff;
          color: black;
          min-width: 50px;
          text-align: center;

          border-right: 1px solid #000 !important;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .last-thing {
    display: flex;
    padding: 30px 100px;

    justify-content: space-between;
    align-items: center;

    .voltar-ao-topo {
      text-align: right;
      cursor: pointer;

      button {
        width: 50px;
        height: 50px;
      }

      i {
        margin-left: 10px;
      }
    }
  }
}
