<div class="page">
  <div class="header">
    <div class="card">
      <div class="logo">
        <img src="../../../assets/imgs/starup-horizontal2@2x.png" alt="">
      </div>

      <p-menubar [model]="items">
      </p-menubar>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <div class="grid">
        <div class="col-4"><h2>STARTUPS</h2>
          <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare tellus, quam in diam, at leo ipsum. Non
            pellentesque duis morbi eget porta erat. Orci ut vel urna scelerisque lacus, neque morbi. Arcu faucibus augue
            purus, sagittis, vel quam.</label></div>
        <div class="col-4 col-offset-4">4</div>
    </div>
      
    </div>
  </div>
</div>
